<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach((toDos) => { %>
	<form action="/delete" method="post">
      <div class="item">
		<!-- mit dem onChange Befehl übergeben wir die Info, dass die Checkbox betätigt wurde (wie Submit-Button). Außerdem übermitteln wir die ID -->
        <input type="checkbox" name="checkbox" value="<%=  toDos._id %>" onChange="this.form.submit()">
        <p><%=  toDos.name %></p>
      </div>
	  <!-- Verstecktes input um Daten zu übermitteln: -->
	  <input type="hidden" name="listName" value="<%= listTitle %>"></input>
	</form>
      <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
